<!doctype html>
<html lang="en">
<head>
    <title>Twig examples</title>
</head>

<body>
Hello {{ name }}
<hr>
for dinner you will have: {{ meals.dinner }}
<hr>
the price of {{ product.getDescription() }} is $ {{ product.price }}

<hr>
details about product: {{ product }}

</body>
</html>
